@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
  overflow-y: scroll;
}

@layer utilities {
  .scrollbar {
    &::-webkit-scrollbar {
      @apply h-1.5 w-1.5;
    }

    &::-webkit-scrollbar-button {
      @apply hidden;
    }

    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    /* Light mode thumb */
    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-neutral-700;
    }

    /* Hover state */
    &::-webkit-scrollbar-thumb:hover {
      @apply bg-neutral-500;
    }
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
